// Colors
$primaryColor: #2e318b;
$secondaryColor: #828282;
$thirdColor: #bdbdbd;

$primaryColorWithOpacity: rgba(46, 49, 139, 0.05);

// Text Variables

$primaryFontFamily: var(--primaryFont);
$fontBold: 700;
$fontMedium: 500;
$fontRegular: 400;

// Text Sizes

$headingTextSize: 32px;
$paraTextSize: 12px;
